*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 5px 0;
    background-color: #564c4c;
    position: sticky;
    top: 0; 
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #564c4c;
    color: white;
    padding: 10px 5px;
}

.nav-wrapper h1{
    font-size: 1.5rem;
    color: white;

}

a{
    text-decoration: none;
}

.nav-wrapper h1:hover{
    color: #ff0202;
    cursor: pointer;
}

.nav-wrapper button{
    background-color: #f1f1f1;
    color: #564c4c;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-wrapper input{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.nav-wrapper ul li{
    display: inline;
    margin: 0 10px;
}

.nav-wrapper ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-wrapper ul li a:hover {
    color: #ff0202;
}

.main{
    display: flex;
    margin: 1% 7%;
}

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.movie-card {
    width: calc(25% - 40px);
    text-align: center;
    box-sizing: border-box;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-card img {
    width: 100%;
    object-fit: cover;
}

.movie-card p {
    font-size: 14px;
    margin: 10px 0;
}

.lista-uno{
    display: flex;
    justify-content: center;
    align-items: center;
}